.form__fieldset{
    border-radius: 20px;
    background-color: hsl(210, 33%, 13%);
    box-shadow: 2px 2px 10px black;
    
}

.form__legend{
    padding: 10px;
    font-size: 20px;
    background-color: hsl(210, 33%, 18%);
    border-radius: 20px;
    border: 1px solid white;
}
