html {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  background-color: #101820ff;
  color: #fee715ff;
  background: url("dollars.jpg");
  background-repeat: no-repeat;
  background-size: auto;
}

*,
::after,
::before {
  box-sizing: inherit;
}
